@using MVCBookStoreProject.ViewModel
@model List<AuthorVM>

@section Title {
    Authors
}

@section SubTitle {
    Show
}

@section Button {
    <a class="btn btn-primary" asp-controller="Authors" asp-action="Create">Create</a>
}

@section Scripts {
    <script>
        document.querySelectorAll(".js-delete").forEach((btn) => {
            btn.addEventListener("click", async () => {
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        const id = btn.dataset.id;

                        const respone = await fetch(`/Authors/Delete/${id}`, {
                            method: 'POST'
                        });

                        if (respone.ok) {
                            btn.closest("tr").remove();
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: "Author Deleted!"
                            });
                        }
                    }
                });
            })
        })
    </script>
}

@if (!Model.Any())
{
    <div class="card-body">
        <tr>
            <td colspan="2">
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                    No data found !!!
                </div>
            </td>
        </tr>
    </div>
}
else
{
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th class="w-50">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-controller="Authors" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
                            <a asp-controller="Authors" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-info-circle"></i> Details</a>
                            <a href="#" data-id="@item.Id" class="btn btn-danger js-delete"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}