@model List<Category>

@section Title {
    Categories
}

@section SubTitle {
    Show
}

@section Button {
    <a class="btn btn-primary" asp-controller="Categories" asp-action="Create">Create</a>
}

@if (!Model.Any())
{
    <div class="card-body">
        <tr>
            <td colspan="2">
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                    No data found !!!
                </div>
            </td>
        </tr>
    </div>
} else
{
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th class="w-50">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
                            <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fas fa-info-circle"></i> Details</a>
                            <a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}